<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="SecuGen.Demo">

    <uses-sdk android:minSdkVersion="23" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- <application> -->
    <application
        android:debuggable="true"
        android:icon="@drawable/pficon"
        tools:ignore="HardcodedDebugMode">

        <activity
            android:name=".JSGDActivity"
            android:label="FPay"
            android:screenOrientation="portrait" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                android:label="FPay"
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".pinActivity"
            android:label="@string/title_activity_pin"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>